<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502505824793-af197rpcmqqvu63ncjq2rcknfol4k9sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502505824793-af197rpcmqqvu63ncjq2rcknfol4k9sr</string>
	<key>API_KEY</key>
	<string>AIzaSyAJsMNnXrUFt3cfpRD_0-5iQwqSO7iJZ9E</string>
	<key>GCM_SENDER_ID</key>
	<string>502505824793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.universe-matching</string>
	<key>PROJECT_ID</key>
	<string>universematch-dddee</string>
	<key>STORAGE_BUCKET</key>
	<string>universematch-dddee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502505824793:ios:1c7f5fb72c91b020820088</string>
</dict>
</plist>